<style>
  .container{ height:90%; padding: 20px; border: 3px solid black; } .container
  h1, .container p { text-align: center; } .nome, .curso{ font-weight: bold; }
  .content{ margin: 20% auto; }
</style>
<div class="container">
  <div class="content">
    <h1>Certificado</h1>
    <p>Otorgamos este certificado por ter concluido o curso:
      <span class="curso">{{course}}</span>
    </p>
    <p class="aluno">Aluno:
      <span class="nome">{{name}}</span>
    </p>
    <p class="data">{{date}}</p>
  </div>
</div>